flows_DESKTOP-OI2DB72.json
[{"id":"891bd6b6.945ac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e20baf6.2920a8","type":"inject","z":"891bd6b6.945ac8","name":"","topic":"","payload":"23243434","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":180,"wires":[["7a56b681.f32808","e766a891.b04538"]]},{"id":"72bbe257.f7f95c","type":"debug","z":"891bd6b6.945ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$globalContext('test')","targetType":"jsonata","x":560,"y":180,"wires":[]},{"id":"7a56b681.f32808","type":"debug","z":"891bd6b6.945ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":120,"wires":[]},{"id":"e766a891.b04538","type":"function","z":"891bd6b6.945ac8","name":"","func":"global.set(\"test\",40)\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["72bbe257.f7f95c"]]}]